body {
  background: rgb(15, 23, 41);
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 0.5);
}

.magic-card {
  position: relative;
  flex-direction: row;
  width: var(--card-width);
  height: var(--card-height);
  background-color: #191c29;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.magic-card::before {
  content: "";
  width: 101%;
  height: 102%;
  border-radius: 15px;
  background-image: linear-gradient(
    var(--rotate), 
    #5ddcff, 
    #3c67e3 43%, 
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -0.5%;
  animation: spin 6s linear infinite;
}

.magic-card::after {
  position: absolute;
  content: "";
  /* top: calc(var(--card-height) / 6); */
  top: 5%;
  z-index: -1;
  height: 92%;
  width: 90%;
  margin: 0 auto;
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  animation: spin 6s linear infinite;
}

.neumorphic {
  /* position: absolute; */
  display: flex;
  border: none;
  background-color: #191c29;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.5),
              -5px -5px 15px -1px rgba(240, 240, 240, 0.1);
  color: #5ddcff;
  font-family: SF Mono;
  font-size: 95%;
}

.neumorphic:hover {
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.5),
              -5px -5px 5px -1px rgba(240, 240, 240, 0.1);
}

.neumorphic:active {
  scale: 0.98;
  box-shadow: inset 5px 5px 15px -1px rgba(0, 0, 0, 0.5),
              inset -5px -5px 15px -1px rgba(250, 250, 250, 0.1);
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


.BaseGrid {
  display: grid;
  grid-auto-flow: column;
  height: 100vh;
  width: 85rem;
  grid-template-columns: 1fr 3fr 1fr;
}

.SideNav {
  background-color: rgb(15, 23, 41);
  color: white;
  overflow: auto;
}

.Main {
}

.IdeaBoard {
  border: solid 2px black;
}